<div>
<img src="assets/Bg3.jpeg" class="bg-img" >

</div>
<nav class="navbar  navbar-expand-lg  " style="background-color: #01382a00;">
  <img src="assets/lg.png" width="100" height="100" class="d-inline-block align-top" alt="">
    <a class="navbar-brand"routerLink="" style="color:rgb(8, 165, 100);"> Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" >
      <ul class="navbar-nav mr-auto" >
        
        <li class="nav-item" >
          <a class="nav-link" routerLink="/view-tourist" style="color:rgb(8, 165, 100);">Tourist-Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tourist-list" style="color:rgb(8, 165, 100);">Add Tourist</a>
        
        
      </ul>
      <span class="navbar-text" style="color:rgb(8, 165, 100);">
        <h1><strong>Dream Your Tour!!!!  </strong> </h1>
      </span>
    </div>
  </nav>
  
  <router-outlet>
  
  </router-outlet>
  
